* {
  padding: 0;
  margin: 0;
}
html {
  font-family: "Montserrat", sans-serif;
}
body {
  background: #eee;
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/always-grey.png");
  width: 100vw;
  height: 100vh;
}
.App{
  display: inline-flex;
  flex-direction: column;
}
.application{
  display: flex;
  flex-direction: row;
  width: 100vw;
  align-items: flex-end;
}
.array-container{
  left: 15vw;
  display: inline;
}
.array-bar {
  width: 1vw;
  background-color: turquoise;
  display: inline-block;
  margin: 0 1px;
}
header {
  background-color: #890596;
  margin: auto -16px;
  height: 10vh;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
}

.sidenav {
  height: 90vh;
  width: 15vw; 
  left: 0;
  background-color: #eee;
  background-image: url("https://www.transparenttextures.com/patterns/always-grey.png");
}
